.btn-supernova {
  background: #fecb00;
  color: #000;
  font-weight: bold;

  &:hover,
  &:focus {
    background: #f6d349;
    color: #000;
  }
  @media (min-width: 325px) and (max-width: 576px) {
    font-size: 16px;
  }
}
