.header {
    background: #333;
    color: #FFF;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 1px 27px 0px #333;
    position: fixed;
    left: 0;
    top:0;
    right:0;
}