.header {
  background: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0px 0px 60px 8px #fecb00;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  .btn-home {
    background: #1CE325;
    color: #000;
    font-weight: bold;

    &:hover,
    &:focus {
      background: #8DE391;
    }
  }
}
