.footer {
    background: #333;
    color: #fecb00;
    padding: 30px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}