.app {
  display: flex;
  min-height: 100vh;
  color: #000;
  flex-flow: column;
  font-size: 16px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: #fff;
}

main {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 0 20px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.swal2-popup {
  font-size: 1.6rem !important;
  font-family: Georgia, serif;
}
