.btn {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: #f4f4f4;
  transition: all ease 0.4s;
  min-width: 140px;

  &:hover,
  &:focus {
    background: #fff;
  }
}
